// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

.item-input ion-input, .item-input ion-textarea{
    border-color: #bdbdbd;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
 
 }  
 .toolbar-background {
  background-color: #C1D5E0;
  }
  .list {
    margin-bottom: 0;
  }

  .cust-icon {
    position: absolute;
    // left: 0.55em;
    left: 0.59em;
    border-right: 1px solid rgba(0,0,0,0.4);
    // height: 1.35em;
    height: 1.3em;
    line-height: 1.3em;
    background-color: #C1D5E0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1.5em;
    top: 0.73em;
  }


  .cust-input {
    padding-left: 2.7em;
  }

  button {
        
  }

  .button-block {
    margin-left: 1em;
    width: 92%;
  }

  .cust-form {
    top: -2em;
    position: relative;
  }
}